body {
    background: #fff333;
}
.all-content-wrapper{
    margin: 0 auto;
    width: 1000px;
}
.header{
    background:#33ff33;
    height: 100px;
} 
.content{
    background:oldlace;
    height:100%;
    padding: 20px 10px;
}