body {
    background: #fff333;
}
img{
    width: 100%;
}
.logo{
    width: 190px;
    height: 104px;
    float: left;
}
.title{
    padding: 30px 30px;
    text-align: center;
    font-size: 30px;
}
.all-content-wrapper{
    margin: 0 auto;
    width: 1000px;
}
.header{
    background:#33ff33;
} 
.content{
    background:oldlace;
    height:100%;
    padding: 20px 10px;
}